# Python
__pycache__/
wheels/

# Jupyter
Test.ipynb
.ipynb_checkpoints/

# Hydra
outputs/

# OS
.DS_Store
Thumbs.db

# Data
data/

# Model checkpoints & logs
lightning_logs/
*.ckpt
*.pt
*.pth
*.log
*.csv